    <div class="container my-1 py-1 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex flex-start w-100">
                            <div class="w-100">
                                    <div class="form-outline">
                                        <label for="imagePath">Image Path:</label>
                                        <input type="text" name="imagePath" [(ngModel)]="product.ImagePath">
                                    </div>
                                    <label for="productName">Title:</label>
                                    <input type="text" name="productName" [(ngModel)]="product.Name">
                                    <div class="form-outline">
                                        <label for="productDescription">Description:</label>
                                        <input type="text" name="productDescription" [(ngModel)]="product.Description">
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">
                                        <button type="button" class="btn btn-danger" routerLink="/manage">Cancel</button>
                                        <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
                                    </div>
                                    <div class="alert alert-danger" *ngIf="error">
                                        <p>{{error}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>