<div *ngIf="!inEditMode">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="product.imagePath" alt="{{ product.name }}" class="img-responsive" style="max-height: 300px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ product.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{product.description}}
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary" (click)="onSwitchToEdit()">Edit</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteProduct()">Delete</button>
    <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
    </div>
</div>
<div *ngIf="inEditMode">
    <div class="row">
        <div class="col-xs-12">
            <label for="imagePath">Image Path:</label>
            <input type="text" name="imagePath" [(ngModel)]="imagePath">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="productName">Title:</label>
            <input type="text" name="productName" [(ngModel)]="productName">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="productDescription">Description:</label>
            <input type="text" name="productDescription" [(ngModel)]="productDescription">
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-danger" (click)="onSwitchToEdit()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
    <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
    </div>
</div>